* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}



/*    =====BARRA DO TOPO=====   */
.top-fixed-ribbon {
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}

.top-bar-content {
  width: 935px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.top-bar-content ion-icon {
  font-size: 28px;
}

.top-bar_logos {
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
}

.logo-vert-spacer {
  height: 22px;
  width: 1px;
  margin: 0 10px 0 10px;
  background-color: #dbdbdb;
}
.top-bar-content input {
  margin: 0 auto;
  text-align: center;

}
.top-bar_icons {
  margin: 0 0 0 auto;
}
/*    =====BARRA DO TOPO=====   */

/*    =====CONTEUDO DA PAGINA=====    */
.main-container {
  width: 100%;
  margin: 88px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  
}

/*    =====LADO ESQUERDO=====   */
.left-column {
  width: 614px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin-right: 30px;
}

/*    =====RIBBON DE STORIES=====   */
.stories-ribbon {
  width: 100%;
  height: 118px;
  display: flex;
  gap: 18px;
  flex-direction: row;
  margin: 0 auto 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  position: relative;
  padding: 18px;
    
  background-color: #ffffff;
  
  overflow: hidden; /*TODO !! */
  }

/*    =====STORY UNICO=====   */
.story { /* avatar + background + profile-name */
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 78px;  /* reason: longer text */ 
  height: 86px;
  text-align: center;

}
.story-bgframe { /* round colored border */
  width: 66px;
  position: absolute;
  top: 0px;
  border-radius: 50%;
}
.story .who-avatar {  /* avatar */
  width: 56px;
  position: absolute;
  top: 5px;
  border-radius: 50%;
}
.story p {  /* profile-name */
  position: absolute;
  bottom: 0px;
  color: #262626;
  font-size: 12px;
}

.stories-arrow {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 9px;
  top: 40%;
  box-shadow: 0px 4px 4px 1px #9e9e9e;
  border-radius: 50%;
  
}

/*    =====COLUNA DE POSTS=====   */

.post-frame {
  width: 100%;
  height: 749px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 24px 0 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-top {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
  padding-right: 18px;
}

.post-top .who-avatar {  /* avatar */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 7.5px 0 17px;
}
.post-top p {
  margin: 0 0 0 7.5px;
}

.post-top ion-icon {  /* ellipsis */
  font-size: 12px;
  margin: 0 0 0 auto;
  color: #262626;
}

.post-img {
  width: 100%;
}
.post-frame video {
  margin: auto;
  width: 100%
}

.post-bottom {
  width: 100%;
  height: 76px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.post-icons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 28px; 
}
.post-icons ion-icon {
  margin: 0 18px 0 0;
}

.post-icons .icon-heart {
  margin-left: 18px; 
}

.post-icons .icon-bookmark {
  margin-left: 440px;
}

.post-likes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
}
.post-likes span {
  font-weight: 500;
}
.post-likes img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px 0 18px;
}

/*    =====LADO DIREITO=====    */
.right-column {
  width: 293px;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar-myprofile {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 24px auto 24px 0;
  font-size: 14px;
}
.sidebar-myprofile h1 {
  font-weight: 500;
  color: #262626;
}
.sidebar-myprofile p{
  font-weight: 300;
  color: #8e8e8e;
}
.sidebar-myprofile img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 17px;
}

.sidebar-suggestions {
  /* "sugestoes/vertudo" */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 17px 0;
}
.sidebar-suggestions h1 {
  color: #8e8e8e;
}
.sidebar-suggestions p {
  color: #262626;
}

.sidebar-profile {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.sidebar-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 17px;
}
.sidebar-profile h1 {
  font-weight: 500;
  color: #262626;
}
.sidebar-profile h2 {
  font-weight: 500;
  color: #139ef2;
  margin: 0 0 0 auto;
}
.sidebar-profile p {
  font-weight: 400;
  color: #8e8e8e;
}

.right-side-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 33px auto 0 0;
}

.right-side-text p {
  margin-bottom: 18px;
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
}

.bottom-mobile {
  display: none
}

/*    =====LAYOUT SEM SIDEBAR=====   */
@media (max-width: 935px) {
  .right-column {
    display: none;
  }

  .top-bar {
    width: 100vw;
    height: 54px;
  }
  
  .main-container {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .bottom-mobile {
    display: none
  }
}

/*    =====LAYOUT MOBILE=====   */
@media (max-width: 614px) {
  .top-bar {
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
  }
  
  .top-bar ion-icon {
    font-size: 20px;
  }
  
  .logo-insta {
    margin-left: 15px;
  }
  
  .vert-spacer-topbar {
    display: none;
  }
  
  .lettering-insta {
    margin-left: auto;
    margin-right: auto;
  }

  .top-bar .icon-paperplane {
    margin-right: 25px;
  }
  
  .search-box {
    display: none;
  }
    
  .top-bar .icon-compass {
    display: none;
  }
  
  .top-bar .icon-heart {
    display: none;
  }
  
  .top-bar .icon-person {
    display: none;
  }

  .main-container {
    width: 100vw;
    margin: 54px auto 0 auto;
    display: flex;
    flex-direction: row;
  }
  
  /*    =====LADO ESQUERDO=====   */
  .left-column {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  /*    =====RIBBON DE STORIES=====   */
  .stories-ribbon {
    width: 100vw;
    height: 118px;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 18px;
    position: relative;
    border: none;
    background-color: none;
    overflow: hidden; /*TODO !! */
  }

  .stories-arrow {
    display: none;
  }

  .bottom-mobile {
    width: 100vw;
    height: 54px;
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    }

    .bottom-mobile ion-icon {
      font-size: 20px;
      margin: 0 20px;
    }
  }