body {
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

/*    =====BARRA DO TOPO=====   */
.top-bar {
  width: 1366px;
  height: 54px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px auto 0px auto;
  background-color: #ffffff;
  border: 2px solid red;
  display: flex;
  justify-content: center;;
  align-items: center;
}

.top-bar ion-icon {
  font-size: 28px;
}

.logo-insta2 {
  margin-left: 215px;
}

.vert-spacer-topbar {
  height: 22px;
  width: 1px;
  background-color: #dbdbdb;
  margin: 0px 10px 0px 10px;

}

.search-box {
  width: 215px;
  height: 28px;
  border-radius: 3px;
  background-color: #fafafa;
  border: 2px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-size: 12px;
  color: #979797;
}

/*    =====CONTEUDO DA PAGINA=====    */
.main-container {
  width: 935px;
  margin: 88px auto 0px auto;
  border: 2px dashed blue;
  display: flex;
}

/*    =====LADO ESQUERDO=====   */
.left-column {
  width: 614px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  border: 2px dashed green;
}

/*    =====RIBBON DE STORIES=====   */
.stories-box {
  width: 614px;
  height: 118px;
  border: 1px solid yellow;
  padding-left: 18px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start ;
  
  align-items: center;
  background-color: #ffffff;
}

/*    =====STORY UNICO=====   */
.story { /* avatar + background + profile-name */
  margin-top: 18px;
  margin-bottom: 14px;
  margin: 18px 5px auto 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 86px;
  border: 1px dotted orange;
  text-align: center;
}
.story-bgframe { /* round colored border */
  width: 66px;
  height: 66px;
  position: absolute;
  top: 0px;
  border-radius: 50%;
}
.story-img {  /* avatar */
  width: 56px;
  height: 56px;
  position: absolute;
  top: 5px;
  border-radius: 50%;
}
.story p {  /* profile-name */
  position: absolute;
  bottom: 0px;
  color: #262626;
  font-size: 12px;
}

/*    =====COLUNA DE POSTS=====   */
.posts-spacer {
  width: 100%;
  height: 60px;
  border: 2px dashed blue;
  }

.post-frame {
  width: 614px;
  height: 749px;
  background-color: lightyellow;
  border-radius: 33px;
  border: 3px dotted orangered;
}


/*    =====LADO DIREITO=====    */
.right-column {
  width: 293px;
  border: 2px dashed brown;
}